/* Whole document: */
body{
  font-family: Cambria;
  font-size: 12pt;
}
/* Headers */
h1{
  font-size: 16pt;
  font-weight: bold;
}
h2{
  font-size: 16pt;
}
h3{
  font-size: 14pt;
}
code.r{ /* Code block */
  font-size: 9pt;
}
pre { /* Code block - determines code spacing between lines */
  font-size: 10pt;
}
td {  /* Table  */
  font-size: 8pt;
}
.caption {
  font-size: 0.9em;
  font-weight: bold;
  padding: 1.1em;
}

